Integromat-Getcandidates.json
{
    "name": "Integration Webhooks, Google Sheets, Tools",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 396585,
                "maxResults": 2
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "hook": {
                        "label": "Get-candidate-data"
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": []
            }
        },
        {
            "id": 2,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 1224038
            },
            "mapper": {
                "limit": "10",
                "filter": [
                    [
                        {
                            "a": "A",
                            "b": "",
                            "o": "exist"
                        }
                    ]
                ],
                "sheetId": "Form Responses 1",
                "sortOrder": "asc",
                "spreadsheetId": "12YLb08DBI6vxIgrXpuvbe7dlthDZMRZcWsU1oKU8EQM",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "orderBy": {
                        "mode": "chose",
                        "label": ""
                    },
                    "sheetId": {
                        "mode": "chose",
                        "label": "Form Responses 1"
                    },
                    "sortOrder": {
                        "mode": "chose",
                        "label": "Ascending"
                    },
                    "__IMTCONN__": {
                        "label": "get-candidate-info (sakurafhnw@gmail.com)"
                    },
                    "spreadsheetId": {
                        "mode": "chose",
                        "label": "Sakura Applicants (Responses)"
                    },
                    "tableFirstRow": {
                        "label": "A-Z"
                    },
                    "includesHeaders": {
                        "mode": "chose",
                        "label": "Yes"
                    },
                    "valueRenderOption": {
                        "mode": "chose",
                        "label": "Formatted value"
                    },
                    "dateTimeRenderOption": {
                        "mode": "chose",
                        "label": "Formatted string"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "number",
                        "label": "Maximum number of returned rows"
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": {
                            "store": "rpc://google-sheets@2/rpcGetFilterKeys?includesHeaders=true"
                        }
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "RoleStamp (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Timestamp (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Which role are you applying for? (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "What's your name? (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Which country do you live in? (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Would you have the right to a Visa for the job location, if required? (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Please describe your top 5 skills that make you suitable for this job. Separate your skills with a comma. (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "Please add a photo (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "Please add your CV (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "Please add your Cover Letter (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "What's your email address? (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "What's your telephone number? (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "Score (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "Level (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "Skill 1 (O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "Skill 2 (P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "Skill 3 (Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "Skill 4 (R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "Skill 5 (S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "Skill Requirement 1 (T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "Skill Requirement 2 (U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "Skill Requirement 3 (V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "Skill Requirement 4 (W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "Skill Requirement 5 (X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "Skill Requirement 6 (Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 2,
                "rowSeparator": "other",
                "otherRowSeparator": ";"
            },
            "mapper": {
                "value": "{{2.`0`}},{{2.`1`}},{{2.`2`}},{{2.`3`}},{{2.`4`}},{{2.`5`}},{{2.`6`}},{{2.`7`}},{{2.`8`}},{{2.`9`}},{{2.`10`}},{{2.`11`}},{{2.`12`}},{{2.`13`}},{{2.`14`}},{{2.`15`}},{{2.`16`}},{{2.`17`}},{{2.`18`}},{{2.`19`}},{{2.`20`}},{{2.`21`}},{{2.`22`}},{{2.`23`}},{{2.`24`}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "feeder": {
                        "label": "Google Sheets - Search Rows [2]"
                    },
                    "rowSeparator": {
                        "label": "Other"
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    },
                    {
                        "name": "otherRowSeparator",
                        "type": "text",
                        "label": "Separator"
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text",
                        "multiline": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 4,
            "module": "util:SetVariable",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "Candidatelist",
                "scope": "roundtrip",
                "value": "{{3.text}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "scope": {
                        "label": "One cycle"
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Candidatelist"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "{\n\"Candidatelist\": \"{{4.value}}\"\n}",
                "status": "200",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1167,
                    "y": -44
                },
                "restore": {
                    "headers": {
                        "items": [
                            "undefined"
                        ]
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ],
                "advanced": true
            }
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.integromat.com"
    }
}