Source Files/(3) Rejected Candidates.json
{
    "name": "3.Rejected Candidates",
    "flow": [
        {
            "id": 7,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 409598,
                "maxResults": 2
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 31,
                    "y": -8
                },
                "restore": {
                    "hook": {
                        "label": "Rejected-Candidates"
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": []
            }
        },
        {
            "id": 2,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 1169431
            },
            "mapper": {
                "limit": "50",
                "orderBy": "A",
                "sheetId": "Sheet1",
                "sortOrder": "asc",
                "spreadsheetId": "1vIivcKPuNPdJFYaFV3OC44fxINLfC1msejHvjILrdV4",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 394,
                    "y": -7
                },
                "restore": {
                    "orderBy": {
                        "mode": "chose",
                        "label": "Name (A)"
                    },
                    "sheetId": {
                        "mode": "chose",
                        "label": "Sheet1"
                    },
                    "sortOrder": {
                        "mode": "chose",
                        "label": "Ascending"
                    },
                    "__IMTCONN__": {
                        "label": "SakuraCandidates (sakurafhnw@gmail.com)"
                    },
                    "spreadsheetId": {
                        "mode": "chose",
                        "label": "Candidate Unsuccesful List"
                    },
                    "tableFirstRow": {
                        "label": "A-Z"
                    },
                    "includesHeaders": {
                        "mode": "chose",
                        "label": "Yes"
                    },
                    "valueRenderOption": {
                        "mode": "chose",
                        "label": "Formatted value"
                    },
                    "dateTimeRenderOption": {
                        "mode": "chose",
                        "label": "Formatted string"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "number",
                        "label": "Maximum number of returned rows"
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": {
                            "store": "rpc://google-sheets@2/rpcGetFilterKeys?includesHeaders=true"
                        }
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Name (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Email (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Phone Number (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Score (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Top 5 Skills (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "(F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "(G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "{\n\"name\": \"{{2.`0`}}\",\n\"email\":\"{{2.`1`}}\",\n\"score\":\"{{2.`3`}}\"\n}",
                "status": "200",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 733,
                    "y": -9
                },
                "restore": {
                    "headers": {
                        "items": [
                            "undefined"
                        ]
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ],
                "advanced": true
            }
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.integromat.com"
    }
}